.ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: rgb(212, 169, 169);
}

/* BUTTON */

button {
  margin: 0 5px;
  height: 50px !important;
}
.button {
  display: flex;
  align-items: center;
  background-color: #364d79;
  height: 70px;
}
.button__left {
  width: 25%;
}
.button__mid {
  width: 50%;
}
.button__right {
  width: 25%;
}

/* BUTTON */

/* SLIDER */
.contain {
  position: relative;
  width: 100%;
  height: 500px;
  margin: 0;
}
.slider {
  width: 100%;
  height: 500px;
  /* background-color: gray; */
  position: absolute;
  z-index: 1;
}
.back {
  width: 100%;
  height: 500px;
  position: absolute;
  /* background-color: black; */
  background-image: linear-gradient(to right, #fff, black);
  opacity: 0.8;
  top: 0;
  /* left: 0; */
  z-index: 2;
}
.contain .content {
  /* display: flex;
    align-items: center;
    justify-content: left; */
  text-align: left;
  position: absolute;
  width: 60%;
  height: 60%;
  border-radius: 10px;
  /*opacity: 0.8;
    */
  top: 50%;
  transform: translate(0, -50%);
  /* background-color: white; */
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  z-index: 3;
}
.search {
  justify-content: center;
  height: 50px;
  display: flex;
  justify-content: left;
  /* padding-top: 200px; */
}
.search .search__input {
  width: 60%;
  height: 50px;
}
.search .search__button {
  height: 50px;
  width: 100px;
  margin-left: 20px;
}
.content .text {
  padding-top: 10px;
}
/* SLIDER */

/* COURSE */
.itemCourse {
  width: 80%;
  height: 230px;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  overflow: hidden;
}
.itemCourse:hover {
  transform: translate(-3px, -3px);
  -webkit-transform: translate(-3px, -3px);
  -moz-transform: translate(-3px, -3px);
  -ms-transform: translate(-3px, -3px);
  -o-transform: translate(-3px, -3px);
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.3);
  transition: all 0.25s ease-in;
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  -ms-transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
}
.itemCourse .image {
  width: 300px;
  height: 228px;
  /* border-right: 2px solid gray */
}
.itemCourse .bg {
  height: 100%;
  display: flex;
  align-items: center;
  background-color: rgb(206, 204, 204);
}
.itemCourse .bg .content {
  /*width: 60%; */
  padding-left: 30px;
  text-align: left;
}
.listCourse {
  width: 100%;
  /*margin: auto;
  */
}

/* COURSE */
