/* BUTTON */
/* button {
  margin: 0 5px;
  height: 50px !important;
}
.button {
  display: flex;
  align-items: center;
  background-color: #364d79;
  height: 70px;
  width: 150px;
} */

/* BUTTON */

/* HEADER */
.mainHeader {
  width: 100%;
  position: relative;
  padding: 0;
}
.mainHeader .myNavbar {
  box-shadow: 0 0 2px 2px #e8e8e8;
  position: fixed;
  transition: top 0.2 ease-in-out;
  z-index: 9;
  width: 100%;
  -webkit-transition: top 0.2 ease-in-out;
  -moz-transition: top 0.2 ease-in-out;
  -ms-transition: top 0.2 ease-in-out;
  -o-transition: top 0.2 ease-in-out;
  background-color: white;
}
.btn {
  color: rgba(0, 0, 0, 0.5);
}
.btn:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
}
/* END HEADER */

/* SLIDER */
.contain {
  position: relative;
  width: 100%;
  height: 500px;
  margin: 0;
}
.slider {
  width: 100%;
  height: 500px;
  /* background-color: gray; */
  position: absolute;
  z-index: 1;
}
.back {
  width: 100%;
  height: 500px;
  position: absolute;
  /* background-color: black; */
  background-image: linear-gradient(to right, #fff, black);
  opacity: 0.8;
  top: 0;
  /* left: 0; */
  z-index: 2;
}
.contain .content {
  /* display: flex;
    align-items: center;
    justify-content: left; */
  text-align: left;
  position: absolute;
  width: 60%;
  height: 60%;
  border-radius: 10px;
  /*opacity: 0.8;
    */
  top: 50%;
  transform: translate(0, -50%);
  /* background-color: white; */
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  z-index: 3;
}
.search {
  justify-content: center;
  height: 50px;
  display: flex;
  justify-content: left;
  /* padding-top: 200px; */
}
.search .search__input {
  width: 60%;
  height: 50px;
}
.search .search__button {
  height: 50px;
  width: 100px;
  margin-left: 20px;
}
.content .text {
  padding-top: 10px;
}
/* SLIDER */

/* COURSE */
.itemCourse {
  width: 80%;
  height: 230px;
  margin: auto;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 50px;
  cursor: pointer;
  border: none;
  overflow: hidden;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out;
  -webkit-transition: box-shadow 0.3s ease-in-out;
  -moz-transition: box-shadow 0.3s ease-in-out;
  -ms-transition: box-shadow 0.3s ease-in-out;
  -o-transition: box-shadow 0.3s ease-in-out;
}
.itemCourse:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  text-decoration: none;
}
.itemCourse .image {
  width: 25%;
  margin-right: 20px;
}
.itemCourse .image > img {
  width: 250px;
  height: 178px;
  margin-left: 25px;
}

.itemCourse .bg {
  height: 100%;
  display: flex;
  align-items: center;
  /* background-color: rgb(206, 204, 204); */
  text-decoration: none;
}
.itemCourse .bg .content {
  /*width: 60%; */
  padding-left: 30px;
  text-align: left;
  color: #000;
  text-decoration: none;
}
.listCourse {
  width: 100%;
  overflow: hidden;
  background-color: #fdfdfc;
  transition: max-height 0.5s ease;
  position: relative;
  text-align: left;
  margin-top: 50px;

  /*margin: auto;
  */
}

/* SHOW - HIDE */
/* .panel-wrapper {
  position: relative;
}

.btn {
  color: #fff;
  background: #000;
  border-radius: 1.5em;
  left: 30%;
  padding: 1em;
  text-decoration: none;
  width: 40%;
  -webkit-border-radius: 1.5em;
  -moz-border-radius: 1.5em;
  -ms-border-radius: 1.5em;
  -o-border-radius: 1.5em;
}
.show, .hide {
  position: absolute;
  bottom: -1em;
  z-index: 100;
  text-align: center;
}

.hide {display: none;}
.show:target {display: none;}
.show:target ~ .hide {display: block;}
.show:target ~ .panel {
   max-height: 2000px;
}
.show:target ~ .fade {
  margin-top: 0;
}

.panel {
  position: relative;
  margin: 2em auto;
  width: 70%;
  max-height: 100px;
  transition: max-height .5s ease;
}
.fade {
  background: linear-gradient(to bottom, rgba(100,100,100,0) 0%,rgba(100,100,100,1) 75%);
  height: 100px;
  margin-top: -100px;
  position: relative;
} */

/* SHOW - HIDE */

/* COURSE */

/* FOOTER */
.main-footer {
  margin-top: 50px;
  margin-bottom: 30px;
  min-height: 200px;
  border-top: 0.5px solid #e9eaea;
  border-bottom: 1px solid #e9eaea;
  padding-bottom: 50px;
}
.main-footer .footerhome-page .myRow {
  padding-top: 30px;
  margin: 0;
}
.main-footer .footerhome-page .myRow .block {
  font-size: 1rem;
}
.main-footer .footerhome-page .myRow .block .title {
  font-size: 1.2rem;
}
.main-footer .footerhome-page .myRow .block .slogan .about {
  text-align: left;
  margin-left: 20px;
}
/* .main-footer .footerhome-page .myRow .block .slogan .address{
      
    } */
.main-footer .footerhome-page .myRow .block .slogan .language a {
  text-decoration: none;
  color: #000;
}
.main-footer .footerhome-page .myRow .block .slogan .language a:hover {
  color: rgba(144, 144, 144, 0.707);
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
/* END FOOTER */
