.profile{
  padding-top: 100px;
}
.boder {
  width: 450px;
  height: 350px;
  margin-left: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid rgb(218, 201, 201);
}
.avatar {
  width: 450px;
  height: 300px;
  background-color: #EFF5FF;
  /* padding: 20px; */
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  text-align: center;
  border-bottom: 1px solid #EFF5FF;
}
.avatar .picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: gray;
  margin: auto;
  margin-bottom: 10px;
}
.info--1 {
  width: 450px;
  height: 300px;
  background-color: #EFF5FF;
  padding: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.info--1 .form-group{
    text-align: right;
}
.info--1 .form-group .input{
    width: 250px;
    margin-left: 20px;  
}
.info--1 .form-group .label{
    width: 100px;
}
.info--2 {
  width: 450px;
  height: 300px;
  background-color: #EFF5FF;
  padding: 20px;
  margin-top: 25px;
  margin-left: 50px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.info--2 .form-group{
  text-align: right;
}
.info--2 .form-group .input{
  width: 300px;
  margin-left: 20px;  
}
.info--2 .form-group .label{
  width: 100px;
}
.up {
    display: flex;
}
.left{
  margin-top: 25px;
  color: white;
}
.btnUpdate{
  width: 200px;
  height: 70px;
  margin: auto;
  margin-top: 20px;
  background-color: #EFF5FF;
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
